body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 70px;
    margin: 10px 0 30px 0;
    color: #212353
}

h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    color: #212353
}

h3 {
    font-family: Arial;
    font-weight: normal;
    font-size: 24px;
}

h4 {
    font-weight: 900;
    font-size: 18px;
    color: #212353;
}

h5 {
    font-weight: 500;
    font-size: 15px;
    color: #9C69E2;
}


p {
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}

span {
    color: #212353;
    font-weight: 800;
    font-size: 18px;
}

.button-cilinder {
    padding: 20px;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 50px;
}

.logo-circle {
    width: 20px;
    height: 20px;
    background: #9C69E2;
    border-radius: 20px;
}

.logo-oval {
    width: 20px;
    height: 35px;
    background: #F063B8;
    border-radius: 20px;
}

/* NAVIGATION */

nav {
    width: 100%;
    height: 100px;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 5%;
    height: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100%;
}

.nav-links a {
    color: #4B5D68;
    font-size: 16px;
    font-weight: 16px;
    text-decoration: none;
}

.nav-links-text a:nth-child(1) {
    color: #212353;
    font-weight: 800;
}

.nav-links-text {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.demo-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    color: #212353;
    font-weight: 800;
}

.demo-button > span {
    color: #212353;
}

.demo-button > i {
    width: 20px;
    color: #9C69E2;
}


/* MAIN */

.landing-page {
    height: calc(100vh - 300px);
    position: relative;
}

.landing-page-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 80%;
} 

.landing-page-text > h1 {
    width: 53%;
} 

.landing-page-text > p{
    width: 37%;
}

.landing-page > img {
    position: absolute;
    right: -110px;
    bottom: 279px;
}

.learn-more-button {
    width: 20%;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
}

.landing-page .learn-more-button {
    background-color: #9C69E2;
    color: white;
}

.about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    z-index: 2;
    height: 560px;
}

.about-us > img {
    width: 45%;
}

.about-us-text-container {
    width: 50%;
    height: 80%;
}

.about-us-text {
    width: 85%;
    height: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.features-centred-text {
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
}

.features-centred-text > p {
    width: 60%;
    text-align: center;
}

.features {
    height: 1000px;
    flex-wrap: wrap;
}

.features-box {
    width: 45%;
    height: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.features-box:nth-of-type(even) {
    margin-right: 0;
}

.features-box > img {
    position: absolute;
    right: 340px;
}

.features-box-text {
    width: 67%;
    display: flex;
    position: relative;
    right: -100px;
    flex-direction: column;
    height: 62%;
    align-items: flex-start;
    justify-content: space-between;
}

.search {
    background-image: url(../images/Rectangle\ 39-1.svg);
}

.access {
    background-image: url(../images//Rectangle\ 39-2.svg);
}

.print {
    background-image: url(../images/Rectangle\ 39-3.svg);
}

.security {
    background-image: url(../images/Rectangle\ 39-4.svg);
}

.features-button {
    background: transparent;
    text-align: center;
    text-decoration: none;
}

.features-button > i {
    width: 20px;
    color: #9C69E2;
}

.testimonials {
    display: flex;
    margin-top: 100px;
    background-color: #9C69E2;
    border-radius: 50px;
    height: 709px;
    justify-content: center;
}

.testimonial-box {
    width: 80%;
    height: 90%;
}

.testimonial-box > h2 {
    color: white;
    margin: 100px 0;
}

.testimonial-box-presentation {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
}

.testimonial-box-presentation  > div {
    background-color: white;
    border: 1px solid #9C69E2;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

}

.testimonial-box-big {
    width: 600px;
    height: 350px;
    background-color: white;
}

.testimonial-box-small-left, .testimonial-box-small-right {
    width: 372px;
    height: 350px;
}

.testimonial-box-small-left {
    position: absolute;
    right: -220px;
}

.testimonial-box-small-right {
    position: absolute;
    right: -611px;
}

.testimonial-box-image {
    width: 100px;
    padding-bottom: 100px;
    border-radius: 50px;
    border: 1px solid black;
    flex-shrink: 0;
    margin: 40px 10px auto 30px;
    background-image: url(../images/woman-751236_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    text-align: justify;
    margin: 40px 0 auto 0;
}

.testimonial-box-big > .testimonial-box-text {
    margin-right: 30px;
}

.testimonial-box-small-left > .testimonial-box-text {
}

.try-it {
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
}

.try-it-buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.try-it-learn-button {
    width: 35%;
    background-color: #F063B8;;
} 

.try-it-learn-button > span {
    color: white;
} 

.try-it-demo-button {
    width: 35%;
    text-decoration: none;
}

.contact {
    height: 400px;
}

.contact-data {
    width: 25%;
    height: 80%;
    margin-right: 5%;
}

.social-media {
    width: 20%;
    height: 80%;
    margin-left: 5%;
}


.about, .home {
    width: 15%;
    height: 80%;
}

.contact-data-title-logo, .about-title, .home-title, .social-media-title {
    margin-bottom: 40px;
}
   
.contact-data-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 25%;
}

.contact-data-title-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width:20%;
    height: 50%;
    margin-right: 20px;
}

.contact-data-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 75%;
    width: 100%;
}

.about-title, .home-title, .social-media-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 25%;
}

.social-media-title {
    align-items: center;
}

.about-text , .home-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    height: 75%;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 75%;
}

.social-media-icons div {
    background-image: url(../images/Ellipse\ 47.svg);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-media a {
    color: white;
    text-decoration: none;
}

footer {
    height: 200px;
}

.footer-text {
    width: 35%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-image: url(../images/Ellipse\ 68.svg);
 }

.footer-icon-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 80%;
    background-image: url(../images/Rectangle\ 42.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-icons-ellipse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}






